@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lacquer', cursive;
}
/* #navbar{
    
   
} */
#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family: 'Lacquer', cursive;
}
#navbar ul li {
    padding: 4px;
    margin: 10px;

}
#navbar ul li a {
    color : white ;
    text-decoration: none;
    font-size: 1.2rem;
    
}
#navbar ul li a:hover{
    color: black;
}
#introsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/static/bg.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 400px;
    background-color: red;
    font-family: 'Yeon Sung', cursive;
    font-size: 2rem;

}
#introsection div.small{
    font-size: 1.4rem;
}
div{
    display: flex;
    flex-direction: column;
}
#Ourmission-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;

}
#section-head{
    margin-top: 25px;
    font-size: 1.6rem;
}

#cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
    
    
}
#extra{
    width: 70px;
}
.card-text p{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 1.2rem;
}
.group-content{
    display: flex;
    flex-direction: row;
    width: 315px;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
    width: 100px;
}
.card-box h3{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    border: none;
    margin: 20px auto ;
}
.card-box{
    border: 2px solid black ;
    width: 350px;
    border-radius: 10px;
    margin: 15px;
    /* background-color: rgb(228, 177, 177); */
    transition-duration: 10ms;
    transition-timing-function: ease-in-out;
    
}
.card-box:hover{
    transform: scale(1.1);
}

#footer{
    display: flex;
    color: white;
    font-family: 'Lacquer', cursive;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: black;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
button{
    display: none;
}

#logo{
    height: 45px;
    width: 60px;
    display: flex;
    flex-direction: row;
    filter: invert(1);
    padding-top: 5px;
    cursor: pointer;
    /* justify-content: center; */
    /* align-items: center; */
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(145, 27, 27);
}
#sponsersection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(228, 177, 177);
}
#sponser-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#sponser-list img{
    height: 60px;
    margin: 20px;
    
}
#sponser-text{
    text-align: center;
    margin-top: 20px;
    font-size: 1.6rem;
}


@media only screen and (max-width: 700px) {
    #nav ul li a {
      display: none;
      
    }
    button {
        display: block;
        margin: 5px 4px;
    }
    
    #logo{
        margin-left: 0;
      padding-left: 0;
    }
    #menu::before{
        content: "";
        display: block;
    }
  }
